      <div id="footer" class="fixed-bottom d-flex align-items-center" style="height: 30px;z-index: 7000; background-color: #DDD2B9!important;">
          <div class="container-fluid p-0">
            <div class="row m-0">
              <div id="mouse-position" class="col-8 p-0" style="font-size: 11px; color: #8e2919;font-weight: 500;"></div>
              <div class="col-4 text-right p-0" style="font-size: 11px; color: #8e2919;font-weight: 500;">  2024 ©️ Zonas Áridas SADEW </div>
            </div>
          </div>
      </div>  